<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
  <link href="{{ SITEURL }}/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} - Flux ATOM" />
  {% if GOOGLE_ANALYTICS %}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("{{GOOGLE_ANALYTICS}}");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  {% endif %}
</head>
<body>
<div id="page">

  <header id="header">
    <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }}</a></h1>
  </header>

{% include 'menu.html' %}

  <section id="content">
{% block content %}
{% endblock %}
  </section> <!-- /#content -->

{% include 'sidebar.html' %}


  <footer id="footer">
    <p>Made with <a href="https://blog.getpelican.com">Pelican</a>.</p>
  </footer>
</div> <!-- /#page -->
</body>
</html>
