        <details class="meta">
          Published at <time datetime="{{ article.date.isoformat() }}" pubdate="pubdate">{{ article.locale_date }}</time>
          {% if article.author %} by {{ article.author }}{% endif %} in «<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>».  
          {% if article.tags %}Mots-clés: {% for tag in article.tags %}{%if loop.index > 1%}, {%endif%}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}</p>{% endif %}
        </details> 
