{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
<h2 class="page_title">List of tags</h2>
<ul id="tag_list">
{% for tag, articles in tags %}
    <li><h3><a href="{{SITEURL}}/{{tag.url}}">{{ tag }}</a></h3></li>
{% endfor %}
</ul>
{% endblock %}
